{% extends 'layouts/base.html' %}
{% load static %}
{% load my_tags %}

{% block content %}
    <div class="shopping_cart_area mt-60">
        <div class="container">
            <form action="#">
                <div class="row">
                    <div class="col-12">
                        <div class="table_desc">
                            <div class="cart_page table-responsive">
                                <table>
                                    <thead>
                                    <tr>
                                        <th class="product_thumb">Image</th>
                                        <th class="product_name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product_quantity">Quantity</th>
                                        <th class="product_total">Total</th>
                                        <th class="product_remove">Remove</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for product in object_list %}
                                        <tr>
                                            <td class="product_thumb">
                                                <a href="#">
                                                    <img src="{{ product.image.url }}" alt="">
                                                </a>
                                            </td>
                                            <td class="product_name">
                                                <a href="#">{{ product.title }}</a>
                                            </td>
                                            <td class="product-price">${{ product.real_price }}</td>
                                            <td class="product_quantity">
                                                <label>Quantity</label>
                                                <input min="1" max="100" value="1" type="number">
                                            </td>
                                            <td class="product_total">${{ product.real_price }}</td>
                                            <td class="product_remove">
                                                <a href="{% url 'products:add-to-cart' pk=product.pk %}?next={{ request.path }}?{{ request.GET.urlencode }}">
                                                    <i class="ion-android-close"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--coupon code area start-->
                <div class="coupon_area">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="coupon_code left">
                                <h3>Coupon</h3>
                                <div class="coupon_inner">
                                    <p>Enter your coupon code if you have one.</p>
                                    <input placeholder="Coupon code" type="text">
                                    <button type="submit">Apply coupon</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="coupon_code right">
                                <h3>Cart Totals</h3>
                                <div class="coupon_inner">
                                    <div class="cart_subtotal">
                                        <p>Subtotal</p>
                                        <p class="cart_amount">${% cart_price request %}</p>
                                    </div>
                                    <div class="cart_subtotal ">
                                        <p>Shipping</p>
                                        <p class="cart_amount"><span>Flat Rate:</span> ${% cart_price request %}</p>
                                    </div>
                                    <a href="#">Calculate shipping</a>

                                    <div class="cart_subtotal">
                                        <p>Total</p>
                                        <p class="cart_amount">${% cart_price request %}</p>
                                    </div>
                                    <div class="checkout_btn">
                                        <a href="{% url 'orders:create' %}">Proceed to Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--coupon code area end-->
            </form>
        </div>
    </div>
{% endblock %}
